@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400|Ubuntu&display=swap');

body {
	background-color: black;
	font-size: 1.2em;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
}

header, footer {
	grid-column: 1 / span 3;
}

section {
	display: grid;
	grid-column: 2 / span 1;
	padding: 5%;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Overpass Mono', monospace;
	color: white;
	font-weight: 300;
}

p, ul, li {
	font-family: 'Ubuntu', sans-serif;
	color: #bababa;
}

a {
	border: 2px solid #aa77ff; /* other color options: #8274c9, 8a73ff, medium slate blue */
  background-color: black;
  color: #aa77ff;
	padding: 10px 20px;
	text-decoration: none;
	justify-self: center;
	font-size: .9em;
}

a:hover {
	background-color: #aa77ff;
	color: black;
	font-weight: bold;
}

header {
	text-align: center;
}

h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 3.5em;
	/* font-size: 5vw; */
	margin-block-end: 0;
}

header p {
	margin-block-start: 0;
	font-size: 1.4em;
}

section#about > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/* grid-template-rows: 1fr 1fr; */
}

section#about > div > div:last-child {
	text-align: center; /* img */
}

section#about img {
	height: auto;
	max-width: 250px;
	min-width: 100px;
	margin: 5%;
}

section#about > div:last-child {
	grid-column: 1 / span 3;
	grid-row: 2 / span 1;
}

section#projects > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	grid-gap: 30px;
	margin-bottom: 30px;
	/* grid-template-rows: 1fr 1fr; */
}

section#projects > div > div {
	padding: 20px;
	padding-top: 0;
	border: 1px solid white;
}


section#experience > ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 30px;
	margin-bottom: 60px;
}

section#experience li {
	list-style: none;
}

section#experience > div {
	justify-self: center;
}

footer {
	text-align: right;
	font-size: small;
	padding-right: 10px;
	margin-top: 10%;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
	h1 {
		 font-size: 2em;
	}

	footer {
		text-align: center;
		padding: 0;
		margin: 20% 0 0 0;
	}
}