@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400|Ubuntu&display=swap');

body {
	background-color: black;
}

h1, h2, h3, h4, h5, h6, a, button {
	font-family: 'Overpass Mono', monospace;
	color: white;
	font-weight: 300;
}

p, ul, li {
	font-family: 'Ubuntu', sans-serif;
	color: #bababa;
}

button {
	border: 2px solid #aa77ff; /* other color options: #8274c9, 8a73ff, medium slate blue */
  background-color: black;
  color: #aa77ff;
  padding: 14px 28px;
  cursor: pointer;
}

button:hover {
	background-color: #aa77ff;
	color: black;
}

img {
	width: 300px;
	height: auto;
	display: block;
}

/* a.ui {
  font-size: 1.07em !important;
  transform: scale(1, 1.2) !important;
} */